{% extends "admin/change_form.html" %}

{% block after_field_sets %}
    {% if original and original.cover_url %}
        <h3>Audio Cover</h3>
        <img src="{{ original.cover_url }}" alt="Audio Cover" width="50%" height="50%">
    {% elif original and original.cover %}
        <h3>Audio Cover</h3>
        <img src="{{ original.cover.url }}" alt="Audio Cover" width="50%" height="50%">
    {% else %}
        <h3>Audio Cover</h3>
        <p>No audio cover uploaded.</p>
    {% endif %}
    <br>
    <br>

    {% if original and original.file %}
        <h3>Audio Player</h3>

        <audio controls>
            <source src="{{ original.file.url }}" type="audio/mpeg">
            Your browser does not support the audio element.
        </audio>

        <h3>Download Link</h3>
        <a href="{{ original.file.url }}" download> {{ original }}</a>
    {% else %}
        <p>No audio file uploaded.</p>
    {% endif %}
    <br>
    <br>
{% endblock %}