{% extends "admin/change_list.html" %}

{% block result_list %}
    <h2>Informações de Transmissão</h2>
    {% if broadcasts|length > 0 %}
        {% for broadcast in broadcasts %}
            <div id="broadcast-{{ broadcast.pid }}">
                <h3>📻 ({{ broadcast.radio_stream.radio }}) {{ broadcast.radio_stream.title }} - {{ broadcast.radio_stream.identifier }} |
                    {% if broadcast.radio_stream.playing_now %}
                        <span>▶ {{ broadcast.radio_stream.playing_now.audio_artist }} - {{ broadcast.radio_stream.playing_now.audio_name }} ({{ broadcast.radio_stream.playing_now.audio_year }}) |</span>
                    {% endif %}
                    <span><a href="#" class="deletelink stop-broadcast" data-pid="{{ broadcast.pid }}" data-token="{{ token }}">Encerrar</a></span>
                </h3>
                <p>💻 {{ broadcast.cmdline }} | PID: {{ broadcast.pid }}</p>
                <br>
            </div>
        {% endfor %}
    {% else %}
        <p>Nenhuma transmissão ativa no momento.</p>
    {% endif %}

    {{ block.super }}
{% endblock %}

{% block actions %}
    {{ block.super }}
{% endblock %}

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const stopLinks = document.querySelectorAll('.stop-broadcast');

        stopLinks.forEach(link => {
            link.addEventListener('click', function (event) {
                event.preventDefault(); // Evita o redirecionamento

                const pid = this.dataset.pid;
                const token = this.dataset.token;

                if (confirm('Você tem certeza que deseja encerrar esta transmissão?')) {
                    fetch(`/radio_stream/stop_broadcast?pid=${pid}`, {
                        method: 'GET',
                        headers: {
                            'X-Requested-With': 'XMLHttpRequest',
                            'Authorization': `Token ${token}` // Adiciona o token no cabeçalho
                        }
                    })
                    .then(response => {
                        if (response.ok) {
                            // Remove o elemento do DOM ou atualize conforme necessário
                            const broadcastElement = document.getElementById(`broadcast-${pid}`);
                            if (broadcastElement) {
                                broadcastElement.remove();
                            }
                        } else {
                            alert('Ocorreu um erro ao encerrar a transmissão.');
                        }
                    })
                    .catch(error => {
                        console.error('Erro:', error);
                        alert('Ocorreu um erro ao tentar encerrar a transmissão.');
                    });
                }
            });
        });
    });
</script>
